@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
            h-12 w-36 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-[#06aedb]
            hover:bg-[#06aedb] hover:text-white
            rounded-3xl hover:rounded-xl
            transition-all duration-300 ease-linear
            cursor-pointer;
  }

  .inventory-description {
    @apply w-fit h-fit p-4 shadow-lg rounded-3xl row-span-1 bg-gray-200;
  }

  /* I can add shadow to create a pill for each with the rounding below or find a nicer way to divide each item */
  .whse-info {
    @apply w-fit h-fit p-4  rounded-3xl;
  }
}

body {
  background-color: #f4f4f4;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
